<h1>{{test}} popin</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Potius inflammat, ut coercendi magis quam dedocendi esse videantur. Naturales divitias dixit parabiles esse, quod parvo esset natura contenta. Quamquam id quidem, infinitum est in hac urbe; Duo Reges: constructio interrete. Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum.</p>

<div class="pull-right">
    <button class="btn" ng-click="closeThisDialog()">Cancel</button>
    <button class="btn btn-success" ng-click="save()">Confirm</button>
</div>
<div class="clearfix"></div>
